<html>
  <head>
    <title>Notes</title>
    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
  </head>
  <body>
    <div class="col-md-6">
      <h1>Add to the Wish List</h1>
      <form method="POST">
        <textarea class="form-control" type ="text" name="note"></textarea>
        <button class="btn btn-success btn-block">Submit</button>
      </form>
    </div>
    <div class="col-md-6">
      <h1>This is my wishlist</h1>
      {{{ body }}}
    </div>
  </body>
</html>